<html>
    {% csrf_token %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <script src="https://cdn.datatables.net/v/dt/dt-1.10.12/se-1.2.0/datatables.min.js"></script>
   <script src="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.7/js/dataTables.checkboxes.min.js"></script>
   <script type="text/javascript">
        $(document).ready(function() {
        var table = $('#expenses_list_table').DataTable({
        "ajax": {
            'url' :"http://127.0.0.1:8000/expenses/expenses",
            "type": "GET",
            'dataType' : 'json',
            "dataSrc":""
        },      
        "columns": [
            { "data": "parchased_date" },
            { "data": "parchased_price" },
            { "data": "parchased_product" }
           
        ],
        "order": [[1, 'asc']]
    } );

} );
// Load the Visualization API and the piechart package.
google.charts.load('current', {'packages':['corechart']});
      
      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);
        
      function drawChart() {
        var jsonData = $.ajax({
            url: "http://127.0.0.1:8000/expenses/expenses",
            dataType: "json",
            async: false
            }).responseText;
            
        // Create our data table out of JSON data loaded from server.
        var data = new google.visualization.DataTable(jsonData);
  
        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, {width: 400, height: 240});
      }

</script>
<div id="piechart" style="width: 900px; height: 500px;"></div>
    <div class="row">
<div class="col-md-12">
<div class="card-body">
    <table id="expenses_list_table" class="display" style="width:100%">
        <thead>
            <tr>
                
                <th>Purchased Date</th>
                <th>Purchased Product</th>
                <th>Price</th>
    
            </tr>
        </thead>
        <!-- <tfoot>
            <tr>
                <th></th>
                <th>Purchased Date</th>
                <th>Purchased Product</th>
                <th>Price</th>
            </tr>
        </tfoot> -->
    </table>
</div>
</div>
</div>
</div>
</html>